{% extends 'basic.html' %}

{% block content %}

    <div class="ui container">
        <h2 class="ui header">Select your Measurement experiment</h2>

        <div class="ui middle aligned divided list">
            <div class="item">
                <div class="right floated content">
                    <a href="{% url 'counter' %}" target="_blank">
                        <div class="ui primary button">Select</div>
                    </a>
                </div>
                {#                <img class="ui avatar image" src="/images/avatar2/small/lena.png">#}
                <div class="content">
                    <label class="ui label">Counter</label>
                    Measurement counts in a fixed time bin.
                </div>
            </div>


            <div class="item">
                <div class="right floated content">
                    <a href="{% url 'startstop' %}" target="_blank">
                        <div class="ui primary button">Select</div>
                    </a>
                </div>
                {#                <img class="ui avatar image" src="/images/avatar2/small/mark.png">#}
                <div class="content">
                    <label class="ui label">StartStop</label>
                    Start-Stop Measurement based on pulses.
                </div>
            </div>


            <div class="item">
                <div class="right floated content">
                    <a href="{% url 'histogram' %}" target="_blank">
                        <div class="ui primary button">Select</div>
                    </a>
                </div>
                {#                <img class="ui avatar image" src="/images/avatar2/small/molly.png">#}
                <div class="content">
                    <label class="ui label">Histogram</label>
                    histogram of time differences to measure lifetime.
                </div>
            </div>

            <div class="item">
                <div class="right floated content">
                    <a href="{% url 'correlation' %}" target="_blank">
                        <div class="ui primary button">Select</div>
                    </a>
                </div>
                {#                <img class="ui avatar image" src="/images/avatar2/small/lindsay.png">#}
                <div class="content">
                    <label class="ui label">Correlation</label>
                    Time-correlated detection of one/multi-way photon flew.
                </div>
            </div>



            {#            以上是目前已经实现的 @ 2022.01.10#}


            <div class="item">
                <div class="right floated content">
                    <a href="{% url 'countbetweenmarkers' %}" target="_blank">
                        <div class="ui primary button">Select</div>
                    </a>
                </div>
                {#                <img class="ui avatar image" src="/images/avatar2/small/molly.png">#}
                <div class="content">
                    <label class="ui label">CountBetweenMarkers</label>
                    Count Between Markers measurement mode.
                </div>
            </div>


        </div>

    </div>



{% endblock %}

