<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Quagent</title>
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    {#    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}" type="text/css">#}
    {#    <script src="{% static 'js/semantic.min.css' %}"></script>#}
    {#    <script src="{% static 'js/jquery.min.js' %}"></script>#}
    <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="http://cdn.staticfile.org/semantic-ui/2.2.7/semantic.min.js"></script>
    <link href="http://cdn.staticfile.org/semantic-ui/2.2.7/semantic.min.css" rel="stylesheet">

    <style media="screen">
        {#body {#}
        {#    padding: 3px;#}
        {# }#}

        {##}
        /* 使得子菜单的文本左对齐 */
        {#.item-menu .header, .item-menu .item {#}
        {#    text-align: right !important;#}
        {# }#}

        {##}
        /* 内容部分离菜单更近 */
        .pusher {
            transform: translate3d(103px, 0, 0) !important;
        }

    </style>
</head>
<body>
{##}
{#<div class="ui container">#}
{#    <div class="ui secondary pointing menu">#}
{#        <div class="active item">#}
{#            <a href="#">主页</a>#}
{#        </div>#}
{#        <div class=" item">#}
{#            <a href="#">热门</a>#}
{#        </div>#}
{#        <div class=" item">#}
{#            <a href="#">我的</a>#}
{#        </div>#}
{#        <div class="right menu">#}
{#            <div class="item">#}
{#                <div class="ui icon input">#}
{#                    <input type="text" placeholder="Search...">#}
{#                    <i class="search link icon"></i>#}
{#                </div>#}
{#            </div>#}
{#            <div class="item">#}
{#                <a href="/login" class="ui button">登录</a>#}
{#            </div>#}
{##}
{#        </div>#}
{#    </div>#}
{#</div>#}
{##}
{#<!-- 隐藏分隔条 -->#}
{#<div class="ui hidden divider">#}
{##}
{#</div>#}
{##}
{#<!-- 正文 -->#}
{#<div class="ui container segment">#}
{#    <h3 class="ui header">花木兰</h3>#}
{#    <a href="/author-link">作者：钱惟演</a>#}
{#    <div class="ui divider"></div>#}
{#    <p>城上风光莺语乱，城下烟波春拍岸。绿杨芳草几时休？泪眼愁肠先已断。#}
{#        情怀渐觉成衰晚，鸾镜朱颜惊暗换。昔年多病厌芳尊，今日芳尊惟恐浅。#}
{#    </p>#}
{#</div>#}
{#<div class="ui container segment">#}
{#    <h3 class="ui header">花木兰</h3>#}
{#    <a href="/author-link">作者：钱惟演</a>#}
{#    <div class="ui divider"></div>#}
{#    <p>城上风光莺语乱，城下烟波春拍岸。绿杨芳草几时休？泪眼愁肠先已断。#}
{#        情怀渐觉成衰晚，鸾镜朱颜惊暗换。昔年多病厌芳尊，今日芳尊惟恐浅。#}
{#    </p>#}
{#</div>#}
{#<div class="ui container segment">#}
{#    <h3 class="ui header">花木兰</h3>#}
{#    <a href="/author-link">作者：钱惟演</a>#}
{#    <div class="ui divider"></div>#}
{#    <p>城上风光莺语乱，城下烟波春拍岸。绿杨芳草几时休？泪眼愁肠先已断。#}
{#        情怀渐觉成衰晚，鸾镜朱颜惊暗换。昔年多病厌芳尊，今日芳尊惟恐浅。#}
{#    </p>#}
{#</div>#}
{#<div class="ui container segment">#}
{#    <h3 class="ui header">花木兰</h3>#}
{#    <a href="/author-link">作者：钱惟演</a>#}
{#    <div class="ui divider"></div>#}
{#    <p>城上风光莺语乱，城下烟波春拍岸。绿杨芳草几时休？泪眼愁肠先已断。#}
{#        情怀渐觉成衰晚，鸾镜朱颜惊暗换。昔年多病厌芳尊，今日芳尊惟恐浅。#}
{#    </p>#}
{#</div>#}

{#============================================================================================#}
{#目录：包含了各个应用#}
{#<main>#}
{% block menu %}
    <!-- Following Menu -->
    {#        <div class="ui left vertical inverted visible sidebar labeled icon menu">#}
    {#    <div class="ui large top fixed menu">#}
    {#        <div class="ui container">#}
    {#            <a class="active item">Home</a>#}
    {#            <a href="{% url 'acquire' %}" class="item">TimeTagger</a>#}
    {#            <a href="{% url 'routing' %}" class="item">Routing</a>#}
    {#            <a href="{% url 'configure' %}" class="item">Configuration</a>#}
    {#            <div class="right menu">#}
    {#                <div class="item">#}
    {#                    <a class="ui button">Log in</a>#}
    {#                </div>#}
    {#                <div class="item">#}
    {#                    <a class="ui primary button">Sign Up</a>#}
    {#                </div>#}
    {#            </div>#}
    {#        </div>#}
    {#    </div>#}
    {#            <div class="ui large top fixed menu">#}

    <div class="ui left vertical inverted visible sidebar labeled icon menu">
        <a class="item" href="/"><i class="home icon"></i>Home</a> <!-- class: active item-->
        <a class="item" href="{% url 'acquire' %}"><i class="block layout icon"></i>TimeTagger</a>
        <a class="item" href="{% url 'routing' %}"><i class="block layout icon"></i>Routing</a>
        <a class="item" href="{% url 'configure' %}"><i class="block layout icon"></i>Configure</a>

        {#        <div class="item item-menu">#}
        {#            <div class="header">Collections</div>#}
        {#            <div class="menu">#}
        {#                <a class="item" href="/collections/breadcrumb.html">Breadcrumb</a>#}
        {#                <a class="item" href="/collections/form.html">Form</a>#}
        {#                <a class="item" href="/collections/grid.html">Grid</a>#}
        {#                <a class="item" href="/collections/menu.html">Menu</a>#}
        {#            </div>#}
        {#        </div>#}
    </div>
{% endblock %}

{% block content %}


{% endblock %}
<!-- Sidebar Menu -->
{#    <div class="ui vertical inverted sidebar menu">#}
{#        <a class="active item">Home</a>#}
{#        <a class="item">Work Work</a>#}
{#        <a class="item">Company</a>#}
{#        <a class="item">Careers</a>#}
{#        <a class="item">Login</a>#}
{#        <a class="item">Signup</a>#}
{#    </div>#}

<!-- Page Contents -->
{#    <main class="pusher">#}

{#    </main>#}
{##}
{#        <div class="ui vertical stripe segment">#}
{#            <div class="ui middle aligned stackable grid container">#}
{#                <div class="row">#}
{#                    <div class="eight wide column">#}
{#                        <h3 class="ui header">We Help Companies and Companions</h3>#}
{#                        <p>We can give your company superpowers to do things that they never thought possible. Let us#}
{#                            delight your customers and empower your needs...through pure data analytics.</p>#}
{#                        <h3 class="ui header">We Make Bananas That Can Dance</h3>#}
{#                        <p>Yes that's right, you thought it was the stuff of dreams, but even bananas can be#}
{#                            bioengineered.</p>#}
{#                    </div>#}
{#                    <div class="six wide right floated column">#}
{#                        <img src="assets/images/wireframe/white-image.png" class="ui large bordered rounded image">#}
{#                    </div>#}
{#                </div>#}
{#                <div class="row">#}
{#                    <div class="center aligned column">#}
{#                        <a class="ui huge button">Check Them Out</a>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{##}
{#        <div class="ui vertical stripe quote segment">#}
{#            <div class="ui equal width stackable internally celled grid">#}
{#                <div class="center aligned row">#}
{#                    <div class="column">#}
{#                        <h3>"What a Company"</h3>#}
{#                        <p>That is what they all say about us</p>#}
{#                    </div>#}
{#                    <div class="column">#}
{#                        <h3>"I shouldn't have gone with their competitor."</h3>#}
{#                        <p>#}
{#                            <img src="assets/images/avatar/nan.jpg" class="ui avatar image"> <b>Nan</b> Chief Fun#}
{#                            Officer#}
{#                            Acme Toys#}
{#                        </p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#        <div class="ui vertical stripe segment">#}
{#            <div class="ui text container">#}
{#                <h3 class="ui header">Breaking The Grid, Grabs Your Attention</h3>#}
{#                <p>Instead of focusing on content creation and hard work, we have learned how to master the art of doing#}
{#                    nothing by providing massive amounts of whitespace and generic content that can seem massive,#}
{#                    monolithic#}
{#                    and worth your attention.</p>#}
{#                <a class="ui large button">Read More</a>#}
{#                <h4 class="ui horizontal header divider">#}
{#                    <a href="#">Case Studies</a>#}
{#                </h4>#}
{#                <h3 class="ui header">Did We Tell You About Our Bananas?</h3>#}
{#                <p>Yes I know you probably disregarded the earlier boasts as non-sequitur filler content, but its really#}
{#                    true. It took years of gene splicing and combinatory DNA research, but our bananas can really#}
{#                    dance.</p>#}
{#                <a class="ui large button">I'm Still Quite Interested</a>#}
{#            </div>#}
{#        </div>#}


{#</main>#}


{#============================================================================================#}
{#    尾页：关于（Inquire;contact;）， 服务（FAQ;Tutarial;Github;），版权信息#}

{% block footer %}
    <footer>
        <div class="ui inverted vertical footer segment">
            <div class="ui container">
                <div class="ui stackable inverted divided equal height stackable grid">
                    <div class="three wide column">
                        <h4 class="ui inverted header">About</h4>
                        <div class="ui inverted link list">
                            <a href="asdasdsa" class="item">INQUIRE Project</a>
                            <a href="https://quantum.lab.arizona.edu/" class="item">Contact Us</a>
                            <a href="https://quantum.lab.arizona.edu/" class="item">QIM Group</a>
                            <a href="#" class="item">Github</a>
                        </div>
                    </div>
                    <div class="three wide column">
                        <h4 class="ui inverted header">Services</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">Banana Pre-Order</a>
                            <a href="#" class="item">FAQ</a>
                            <a href="#" class="item">Tutorial</a>
                            <a href="#" class="item">Favorite X-Men</a>
                        </div>
                    </div>
                    <div class="seven wide column">
                        <h4 class="ui inverted header">Copyright</h4>
                        <p>© <a href="https://arizona.edu">2021 | THE UNIVERSITY OF ARIZONA</a> | ALL RIGHTS RESERVED.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

{% endblock %}

</body>
</html>