{% extends 'basic.html' %}
{% load static %}
{% block content %}
    <div class="pusher">
        <div class="ui inverted vertical masthead center aligned segment">

            <div class="ui text container">

                <h1 class="ui inverted header">

                    <h1 class="ui header">Quantum Agent</h1>
                </h1>
                <h2>Pioneer of Quantum Internet Service Provider</h2>

                {% if user.is_authenticated %}
                    <div class="ui huge primary button"><a href="{% url 'control' %}" style="all: unset">Get Started</a><i
                            class="right arrow icon"></i></div>
                {% else %}
                    <div class="ui huge primary button"><a href="{% url 'login' %}" style="all: unset">Get Started</a><i
                            class="right arrow icon"></i></div>
                {% endif %}

            </div>
        </div>
        <div class="ui container">
            <img src="{% static 'images/profile.png' %}" alt="">
        </div>
    </div>
{% endblock %}

