{% extends 'basic.html' %}

{% block content %}

    <div class="ui container">
        <h2 class="ui header">Select your Measurement experiment</h2>

        <div class="ui middle aligned divided list">
            <div class="item">
                <div class="right floated content">
                    <div class="ui primary button">Select</div>
                </div>
                {#                <img class="ui avatar image" src="/images/avatar2/small/lena.png">#}
                <div class="content">
                    <label class="ui label">Counter</label>
                    Measurement counts in a fixed time bin.
                </div>
            </div>
            <div class="item">
                <div class="right floated content">
                    <div class="ui primary button">Select</div>
                </div>
{#                <img class="ui avatar image" src="/images/avatar2/small/lindsay.png">#}
                <div class="content">
                    <label class="ui label">Correlation</label>
                    Time-correlated detection of one/multi-way photon flew.
                </div>
            </div>
            <div class="item">
                <div class="right floated content">
                    <div class="ui primary button">Select</div>
                </div>
{#                <img class="ui avatar image" src="/images/avatar2/small/mark.png">#}
                <div class="content">
                    <label class="ui label">StartStop</label>
                    Start-Stop Measurement based on pulses.
                </div>
            </div>
            <div class="item">
                <div class="right floated content">
                    <div class="ui primary button">Select</div>
                </div>
{#                <img class="ui avatar image" src="/images/avatar2/small/molly.png">#}
                <div class="content">
                    <label class="ui label">TimeDifferences</label>
                    Measuring the time differences between pulses.
                </div>
            </div>


        </div>

    </div>

{% endblock %}