<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="http://cdn.staticfile.org/semantic-ui/2.2.7/semantic.min.js"></script>
    <link href="http://cdn.staticfile.org/semantic-ui/2.2.7/semantic.min.css" rel="stylesheet">
</head>

<body>
    <!-- <div class="ui form" id="form-correlation-config"> -->

    <div class="ui simple dropdown">
        课程
        <i class="dropdown icon"></i>
        <div class="menu">
            <div class="item">语文</div>
            <div class="item">英语</div>
            <div class="item">数学</div>
        </div>
    </div>


    <label>下拉1组：</label>
    <select name="select1">
        <option>--请选择--</option>
        <option value="option1" class="ui option">下拉1</option>
        <option value="option2" selected="selected">下拉2</option>
        <option value="option3">下拉3</option>
    </select>


    <h2 class="ui header">Select your Measurement experiment</h2>

    <div class="ui middle aligned divided list">
        <div class="item">
            <div class="right floated content">
                <a href="https://www.baidu.com" target="_blank">
                <div class="ui primary button">Select</div></a>
            </div>
            {# <img class="ui avatar image" src="/images/avatar2/small/lena.png">#}
            <div class="content">
                <label class="ui label">Counter</label>
                Measurement counts in a fixed time bin.
            </div>
        </div>
        <div class="item">
            <div class="right floated content">
                <div class="ui primary button">Select</div>
            </div>
            {# <img class="ui avatar image" src="/images/avatar2/small/lindsay.png">#}
            <div class="content">
                <label class="ui label">Correlation</label>
                Time-correlated detection of one/multi-way photon flew.
            </div>
        </div>
        <div class="item">
            <div class="right floated content">
                <div class="ui primary button">Select</div>
            </div>
            {# <img class="ui avatar image" src="/images/avatar2/small/mark.png">#}
            <div class="content">
                <label class="ui label">StartStop</label>
                Start-Stop Measurement based on pulses.
            </div>
        </div>
        <div class="item">
            <div class="right floated content">
                <div class="ui primary button">Select</div>
            </div>
            {# <img class="ui avatar image" src="/images/avatar2/small/molly.png">#}
            <div class="content">
                <label class="ui label">TimeDifferences</label>
                Measuring the time differences between pulses.
            </div>
        </div>


    </div>
    <!-- </div> -->
</body>

</html>