{% extends "basic.html" %}
{% load static %}



{% block content %}
    <div class="pusher">
        <div class="ui container">
            <img src="{% static 'images/profile.png' %}" alt="">

        </div>

        <div class="ui inverted vertical masthead center aligned segment">
            {% if form.errors %}
                <p class="error">Sorry, that's not a valid username or password</p>
            {% endif %}

            <form action="" method="post">
                {% csrf_token %}
                <label for="username" class="ui label">User name:</label>
                <input type="text" name="username" value="" id="username" class="ui input">

                <label for="password" class="ui label">Password:</label>
                <input type="password" name="password" value="" id="password" class="ui password">

                <input type="submit" value="login" class="ui secondary button">
                <input type="hidden" name="next" value="{{ next|escape }}"/>

                <a href="{% url 'register' %}">No account? Register one.</a>
            </form>

        </div>


        <script>
            if ("{{ alert }}" !== '') {
                alert("{{ alert }}");
            }

        </script>


    </div>
{% endblock %}